@page
@model WebApp.Pages.Posts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.StateDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.StateDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.UpdatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.UpdatedDate)
        </dd>
    </dl>
        <p>
            <a asp-page="./CreateComment" asp-route-id="@Model.Post.Id">Create New Comment</a> 
        </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comment.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment.CreatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-page="./DetailsComment" asp-route-id="@item.Id">Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div>
    <a asp-page="./Public">Back to List</a>
</div>
