@page
@model WebApp.Pages.Posts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
@Model.ErrorMessages
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Content" class="control-label"></label>
                <textarea asp-for="Post.Content" class="form-control" ></textarea>
                <span asp-validation-for="Post.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.StateDescription" class="control-label"></label>
                <input asp-for="Post.StateDescription" class="form-control" readonly/>
                <span asp-validation-for="Post.StateDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.UserId" class="control-label"></label>
                <input asp-for="Post.UserId" class="form-control" readonly/>
                <span asp-validation-for="Post.UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.UserName" class="control-label"></label>
                <input asp-for="Post.UserName" class="form-control" readonly/>
                <span asp-validation-for="Post.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.FullName" class="control-label"></label>
                <input asp-for="Post.FullName" class="form-control" readonly/>
                <span asp-validation-for="Post.FullName" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Post.Id" />
            <div class="form-group">
                <label asp-for="Post.CreatedDate" class="control-label"></label>
                <input asp-for="Post.CreatedDate" class="form-control" readonly/>
                <span asp-validation-for="Post.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.UpdatedDate" class="control-label"></label>
                <input asp-for="Post.UpdatedDate" class="form-control" readonly/>
                <span asp-validation-for="Post.UpdatedDate" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <br />
        </form>
        <br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments[0].UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments[0].UpdatedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
